@font-face {
    font-family: 'Rosatom';
    src: url('font/Rosatom-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosatom';
    src: url('fons/Rosatom-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

*{
  font-family: 'Rosatom', sans-serif;
}

:root{--dark:#003274;--mid:#025EA1;--light:#6cace4;--text:#333;--bg:#f7f9fb;--card:#fff;--radius:12px}
*{box-sizing:border-box;margin:0;padding:0}
body{font-family:Inter,Arial,sans-serif;background:var(--bg);color:var(--text)}
.mobile-only{display:none}

a:link{
  color:#333333;
  text-decoration: none;
}
a:visited{
  color:#333333;
  text-decoration: none;
}
a:hover{
  color:#333333;
  text-decoration: none;
  text-decoration: underline;
}


/* NAVBAR */
.navbar{position:sticky;top:0;z-index:60;display:flex;justify-content:space-between;align-items:center;padding:12px 18px;background:#fff;border-bottom:1px solid #e6eef7;background-position: right;background-repeat: no-repeat;background-image:url(img/vector.png);}
.nav-left{display:flex;align-items:center;gap:12px}
.logo{width:44px;height:44px;background: url(img/logo.png) no-repeat center center / cover;}
.brand .company-name{font-weight:600}
.company-name{font-size: 28px;color: #333333;}
.brand .company-sub{font-size:12px;color:#333333a2}
.nav-right{display:flex;align-items:center;gap:10px}
.btn-outline{color: white;background:#025EA1;padding:6px 10px;border-radius:6px;cursor:pointer;border:transparent;}
.btn-outline:hover{background: #004f85;}
#add-point-btn {
  display: flex;
  align-items: center;
  gap: 6px; /* расстояние между плюсиком и текстом */
}

#add-point-btn .material-icons {
  color: white;
  font-size: 20px;
}

/* Layout */
.layout{display:flex}
.sidebar{width:345px;background:var(--card);padding:18px;height:calc(100vh - 64px);overflow:auto;box-shadow:0 6px 18px rgba(2,94,161,.06)}
.main-area{flex:1;padding:18px}
.search-box{position:relative;margin-bottom:14px}
.search-box input{width:100%;padding:12px 14px 12px 40px;border:1px solid #e5eef8;border-radius:6px}
.search-icon{position:absolute;left:12px;top:50%;transform:translateY(-50%);color:#33333371}

.filters-title{font-size:16px;margin-bottom:10px}
.filters-grid{display:grid;grid-template-columns:repeat(4,1fr);gap:8px;margin-bottom:12px;align-items:start;column-gap: 6px;}

.filter-item{display:flex;flex-direction:column;align-items:center;text-align:center;width:100%;}
.filter-label{
  display:block;
  width:100%;
  max-width:65px;
  font-size:12px;
  margin-top:8px;
  line-height:1;
  padding:0 4px;
  text-align:center;
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  hyphens: auto;
}
/* КНОПКА С ИКОНКОЙ */
.filter-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 8px;
  border: none;
  background: var(--mid);
  cursor: pointer;
  padding: 6px;
}

.filter-btn .material-icons {
  font-size: 28px;
  color: #fff !important;
}

.filter-btn.active {
  background: var(--dark);
}

.filter-btn:hover {
  background: var(--dark);
}



.org-list{display:flex;flex-direction:column;gap:12px;margin-top:8px}
.org-card{background:#fff;padding:12px;border-radius:6px;border:1px solid #33333334}
.org-card:hover{cursor: pointer;border: 1.5px solid #33333359; background: #33333311;}
.tags{display:flex;flex-wrap:wrap;gap:6px;margin-bottom:8px}
.tag{background:var(--mid);background-color: #6cace4;color:#fff;padding:4px 10px;border-radius:6px;font-size:12px}

.map-placeholder{height:420px;border-radius:6px;background:linear-gradient(180deg,#f2f8ff,#fff);display:flex;align-items:center;justify-content:center;border:1px dashed #dbeefc;margin-top:12px}

/* footer */
.footer{text-align:center;padding:18px;color:#3333338a;font-size:13px;margin-top:20px}

/* MOBILE PANEL */
.mobile-panel{display:none;position:fixed;left:0;right:0;bottom:0;background:#fff;border-top-left-radius:16px;border-top-right-radius:16px;transform:translateY(85%);transition:.28s;box-shadow:0 -8px 30px rgba(0,0,0,.12);z-index:70}
.mobile-panel.open{transform:translateY(0)}
.panel-header{height:28px;display:flex;align-items:center;justify-content:center}
.panel-header::after{content:"";width:80px;height:6px;border-radius:6px;background:#d1d5db}
.mobile-content{padding:12px}

/* RESPONSIVE — ONLY MOBILE */
@media(max-width:900px){
  .sidebar{display:none}
  .mobile-only{display:inline-block}
  .mobile-panel{display:block}
}

/* CITY AUTOCOMPLETE */
.city-block {
  margin-bottom: 20px;
  position: absolute;
  right: 20px;
}

.city-block h4 {
  font-size: 15px;
  margin-bottom: 6px;
  color: var(--dark);
}

.city-block .input {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #dbe7f6;
  border-radius: 8px;
  font-size: 14px;
}

.city-suggestions {
  margin-top: 6px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e1ecf7;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  max-height: 200px;
  overflow-y: auto;
  display: none; /* скрыто до появления данных */
  z-index: 100;
  position: absolute;
  width: calc(100% - 2px);
}

.city-suggestions li {
  padding: 10px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.15s;
}

.city-suggestions li:hover {
  background: #33333325;
  color: var(--dark);
}

.selected-city {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--mid);
}

/* Модалки */
/* Общий оверлей */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  display: none;
  opacity: 0;
  z-index: 50;
}

/* Модальное окно */
.modal {
  position: fixed;
  background: #fff;
  width: 380px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  opacity: 0;
  scale: 0.95;
  transition: 0.25s;
  display: none;
  z-index: 60;
  max-height: 90vh;  
  overflow-y: auto;
}

/* Активные состояния */
.modal.active {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%);
  scale: 1;
}

.modal-overlay.active {
  display: block;
  opacity: 1;
}

/* Заголовок */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  color: #003274;
}

.modal-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.modal-close {
  cursor: pointer;
  font-size: 22px;
  color: #333333;
}

/* Inputs */
.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #3333337a;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Checkbox */
.checkbox-row {
  display: flex;
  gap: 8px;
  margin: 8px 0 4px;
  font-size: 13px;
  color: #333333;
}

.checkbox {
  color: #333333;
}


/* Кнопка */
.btn-blue {
  background: #025EA1;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.btn-blue:hover {background: #004f85;}

.w100 { width: 100%; }

.mt10 { margin-top: 10px; }

/* Нижняя ссылка */
.modal-bottom {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.link-small {
  font-size: 13px;
  margin-bottom: 10px;
  display: inline-block;
  color: #025EA1;
}

.logo-upload {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  padding: 12px;
  border: 1px solid #3333337a;
  font-size: 14px;
  color: #333333ad;
}

.logo-plus {
  font-size: 20px;
  color: #025EA1;
  font-weight: bold;
}

.file-status {
    margin-top: 6px;
    font-size: 14px;
    color: #025EA1; /* синий цвет Росатома */
    font-weight: 600;
}


.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}


.mt20 { margin-top: 20px; }
.mb6 { margin-bottom: 6px; }

.tags-select {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 8px;
}

.tag-option {
  padding: 6px 12px;
  background: #6CACE4;         /* светлый */
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.15s;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Активный тег */
.tag-option.active {
  background: #025EA1;         /* темный */
  color: white;
}

/* Значок крестика у активного тега */
.tag-option.active::after {
  content: "✕";
  font-size: 13px;
  opacity: 0.85;
}
